anyio==3.6.2
beautifulsoup4==4.11.1
cli-helpers==2.3.0
click==8.1.3
colorama==0.4.6
configobj==5.0.8
fastapi==0.87.0
h11==0.14.0
idna==3.4
numpy==1.21.6
packaging==23.0
pandas==1.5.3
patsy==0.5.3
pendulum==2.1.2
pgcli==3.5.0
pgspecial==2.0.1
prompt-toolkit==3.0.36
psycopg==3.1.8
psycopg2==2.9.5
psycopg2-binary==2.9.5
pydantic==1.10.2
Pygments==2.14.0
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2022.7.1
pytzdata==2020.1
scipy==1.10.0
setproctitle==1.3.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
starlette==0.21.0
statsmodels==0.13.5
tabulate==0.9.0
typing_extensions==4.4.0
tzdata==2022.7
uvicorn==0.20.0
wcwidth==0.2.6
absl-py==1.2.0
albumentations==1.2.1
altair==4.2.0
anaconda-navigator==2.3.0
appdirs==1.4.4
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
backports.weakref==1.0.post1
bert-extractive-summarizer==0.10.1
bkcharts==0.2
black==19.10b0
blinker==1.5
blis==0.7.9
brotlipy==0.7.0
catalogue==2.0.8
clyent==1.2.2
colorama==0.4.6
commonmark==0.9.1
comtypes==1.1.10
conda==22.9.0
conda-build==3.21.8
conda-verify==3.4.2
confection==0.0.4
constantly==15.1.0
cssselect==1.1.0
cymem==2.0.7
cytoolz==0.11.0
daal4py==2021.5.0
datashape==0.5.4
dnspython==2.2.1
et-xmlfile==1.1.0
exceptiongroup==1.1.0
fastapi==0.87.0
flatbuffers==1.12
fonttools==4.25.0
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-search-results==2.4.1
h11==0.14.0
huggingface-hub==0.11.0
imgviz==1.5.0
inflection==0.5.1
keras==2.9.0
Keras-Preprocessing==1.1.2
labelme==5.0.1
langcodes==3.3.0
libclang==14.0.6
llvmlite==0.38.0
mccabe==0.6.1
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
murmurhash==1.0.9
mypy-extensions==0.4.3
natsort==8.1.0
navigator-updater==0.2.1
oauthlib==3.2.0
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
opt-einsum==3.3.0
outcome==1.2.0
pathspec==0.7.0
pathy==0.10.1
patsy==0.5.2
pep8==1.7.1
Pillow==9.0.1
preshed==3.0.8
protobuf==3.19.1
pyarrow==9.0.0
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.44.1
pydantic==1.10.2
pydeck==0.8.0b3
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pymongo==4.2.0
pymongoarrow==0.5.1
Pympler==1.0.1
PyPDF2==3.0.1
pyreadline==2.1
pytest==7.1.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-multipart==0.0.5
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==302
PyYAML==6.0
qudida==0.0.4
queuelib==1.5.0
requests-oauthlib==1.3.1
rich==12.5.1
scikit-learn-intelex==2021.20220215.102710
selenium==4.7.2
semver==2.13.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
sip==4.19.13
smart-open==6.3.0
smmap==5.0.0
spacy==3.5.0
spacy-legacy==3.0.11
spacy-loggers==1.0.4
split-folders==0.5.1
srsly==2.4.5
starlette==0.21.0
statsmodels==0.13.2
streamlit==1.12.2
tables==3.6.1
tabulate==0.8.9
TBB==0.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-gpu==2.9.1
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
thinc==8.1.7
tokenizers==0.13.2
torch==1.12.1
torchinfo==1.7.1
torchmetrics==0.9.3
torchvision==0.13.1
transformers==4.24.0
trio==0.22.0
trio-websocket==0.9.2
typer==0.7.0
tzdata==2022.2
tzlocal==4.2
uvicorn==0.20.0
validators==0.20.0
wasabi==1.1.1
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.2.2
wsproto==1.2.0
xgboost==1.7.2
xlwings==0.24.9
zict==2.0.0